html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    background: rgb(214, 223, 199);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


/*Other Codes */

* {
    text-decoration: none;
}

header {
    background: #ABD904;
    background: -webkit-linear-gradient(top, rgb(129, 163, 4) 0%, rgba(85, 140, 3, 0.644) 100%);
    background: linear-gradient(to bottom, rgb(129, 163, 4) 0%, rgba(85, 140, 3, 0.644) 100%);
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 900;
    color: #040F3D;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
    box-align: center;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: Catamaran;
    font-size: 16px;
    color: #040F3D;
    text-transform: uppercase;
}

header nav ul li .active {
    color: #fff;
}

header .header-cases {
    display: none;
}

main {
    background-color: #E5F2D0;
    padding-bottom: 20px;
}

.main-margin-bottom {
    background-color: #E5F2D0;
    padding-bottom: 0px !important;
}

@media only screen and (min-width: 1000px) {
    header .header-brand {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        font-size: 24px;
        padding: 0px 20px 0px 40px;
        border-right: 3px solid #040F3D;
        float: left;
    }
    header nav ul {
        margin: 20px 0px 0px 20px;
        float: left;
    }
    header nav ul li a {
        line-height: 60px;
        font-size: 22px;
    }
    header nav ul li a:hover {
        color: #E5F2D0;
    }
    header nav ul li .active {
        color: #E5F2D0;
    }
    header .header-cases {
        display: block;
        font-family: Catamaran;
        font-size: 16px;
        color: #040F3D;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #040F3D;
        border-radius: 20px;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }
    header .header-cases:hover {
        background-color: #DDF291;
        color: #040F3D;
    }
}


/*INDEX*/

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('../img/banner3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2 {
    font-family: Catamaran;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #040F3D;
}

.index-banner h1 {
    font-family: Cormorant Garamond;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #040F3D;
}

.index-banner .auth a {
    font-family: Cormorant Garamond;
    font-size: 16px;
    color: #040F3D;
    line-height: 30px;
    padding: 5px 10px 5px 10px;
    border: 3px solid rgba(85, 140, 3, 0.644);
    background: rgba(85, 140, 3, 0.644);
    color: white;
    border-radius: 20px;
    text-shadow: 2px 2px 8px #040F3D;
}

.index-banner .auth a:hover {
    background-color: #DDF291;
    color: #040F3D;
}

.index-links div {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    width: calc(100% - 32px);
    padding: 4px;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
}

.index-links div:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.index-links textarea {
    margin: 10px 0;
    padding: 10px;
    outline: 0;
    border: 3px solid rgba(85, 140, 3, 0.644);
    width: calc(100% - 26px);
    resize: vertical;
    border-radius: 20px;
    font-family: Catamaran;
    height: 60px;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.index-links button {
    background-color: rgba(85, 140, 3, 0.644);
    /* Green */
    border: 0px solid rgba(85, 140, 3, 0.644);
    color: white;
    width: calc(100% - 0px);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0;
    border-radius: 20px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.index-links button:hover {
    background-color: #DDF291;
    color: black;
}


/*p {
    color: #040F3D;
}*/

.index-links div h3 {
    font-family: Catamaran;
    font-size: 22px;
    font-weight: 600;
    line-height: 50px;
    background-color: rgba(85, 140, 3, 0.472);
    border-radius: 20px;
    color: #040F3D;
    text-align: center;
    text-transform: uppercase;
}

.index-title div h3 {
    font-family: Catamaran;
    font-size: 18px !important;
    font-weight: 600;
    line-height: 50px;
    color: #040F3D;
    text-align: center;
    text-transform: uppercase;
}

.index-links-article .index-boxlink-large {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: calc(100% - 32px);
    padding: 4px;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
}

.index-links-article .index-boxlink-large:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.index-links-article .index-boxlink-large h3 {
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 600;
    line-height: 100px;
    color: #040F3D;
    /* text-align: center; */
    text-transform: uppercase;
}

.title-box {
    padding: 0px 10px 5px 0px;
}

.article-list {
    padding: 10px 0px 0px 5px;
    list-style: none;
    max-height: 200px;
    overflow: hidden;
}

.article-list li {
    margin: 0px;
    margin-top: 10px;
}

.article-list li>div {
    display: table-cell;
}

.article-text p {
    margin: 0px;
    font-family: Catamaran;
    font-weight: 500;
    font-size: 24px;
}

.article-image {
    width: 80px;
    margin-right: 5px;
    margin-top: -20px;
    height: 100%;
    float: left;
}

.article-image img {
    width: 100%;
    border-radius: 50%;
}

.article-box {
    padding: 10px;
    border-top: 1px solid rgba(138, 138, 138, 0.918);
    font-family: Catamaran;
    font-size: 20px;
    height: auto;
    overflow: auto;
}

.article-content {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    line-height: 25px;
}

.article-content-button {
    line-height: 40px;
}

.article-content-button .badge1 {
    position: relative;
    margin-right: 10px;
    padding: 2px 8px;
    font-family: Catamaran;
    border-radius: 20px;
    border: 3px solid rgb(85, 140, 3);
    font-weight: 500;
    color: rgb(19, 18, 18);
}

.article-content-button .badge1:hover {
    background-color: rgba(85, 140, 3, 0.472);
    padding: 5px 11px;
    border: 0px;
}

.article-content-button .badge1[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -12px;
    right: -12px;
    font-family: Catamaran;
    font-weight: 500;
    font-size: .9em;
    padding: 4px;
    background: rgba(85, 140, 3, 0.644);
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}

.article-content-button .badge1:hover[data-badge]:after {
    position: absolute;
    top: -9px;
    right: -9px;
}

.article-content-button button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Catamaran;
    font-weight: 700;
    font-size: .9em;
    /* -webkit-transition-duration: 0.4s; */
    /* Safari */
    /* transition-duration: 0.4s; */
    cursor: pointer;
}

.article-content-button .edit {
    position: relative;
    margin-right: 10px;
    padding: 2px 8px;
    font-family: Catamaran;
    font-weight: 700;
    border-radius: 20px;
    border: 3px solid #008CBA;
    font-weight: 500;
    color: #008CBA;
    background-color: rgb(255, 255, 255);
}

.article-content-button .edit:hover {
    background-color: rgba(0, 139, 186, 0.479);
    padding: 5px 11px;
    border: 0px;
    color: rgb(19, 18, 18);
}

.article-content-button .delete {
    position: relative;
    margin-right: 10px;
    padding: 2px 8px;
    font-family: Catamaran;
    font-weight: 700;
    border-radius: 20px;
    border: 3px solid #f44336;
    font-weight: 500;
    color: #f44336;
    background-color: rgb(255, 255, 255);
}

.article-content-button .delete:hover {
    background-color: #f4433677;
    padding: 5px 11px;
    border: 0px;
    color: rgb(19, 18, 18);
}


/* COMMENTS */

.article-content-comment {
    background-color: rgba(85, 140, 3, 0.061);
    height: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px !important;
}

.article-content-comment .article-list {
    padding: 10px;
    margin-bottom: 20px;
    list-style: none;
    max-height: 200px;
    overflow: auto;
}

.article-content-comment .article-list li {
    margin: 0px;
    margin-top: 10px;
}

.article-content-comment .article-list li>div {
    display: table-cell;
}

.article-content-comment .article-text p {
    margin: 0px;
    font-family: Catamaran;
    font-weight: 500;
    font-size: 16px;
}

.article-content-comment .article-image {
    width: 50px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

.article-content-comment .article-image img {
    width: 100%;
    border-radius: 50%;
    margin-top: -8px;
}


/* ICI */

.sub-text {
    color: rgb(29, 92, 60);
    font-family: Catamaran;
    font-size: 13px;
    font-weight: bold;
}

.sub-role {
    color: rgb(29, 92, 60);
    font-family: Catamaran;
    font-size: 13px;
    font-weight: bold;
}

.article-comment-box {
    border-top: 1px solid rgba(138, 138, 138, 0.918);
    display: block;
    padding: 10px;
    height: auto;
    overflow: auto;
}

.form-inline {
    display: inline !important;
}

.form-inline input {
    vertical-align: middle;
    width: calc(100% - 35%);
    float: left;
    padding: 10px;
    background-color: #fff;
    border: 3px solid rgba(85, 140, 3, 0.644);
    border-radius: 18px;
    font-family: Catamaran;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.form-inline button {
    vertical-align: middle;
    padding: 10px;
    font-family: Catamaran;
    color: white;
    background-color: rgba(85, 140, 3, 0.644);
    /* Green */
    border: 0px solid rgba(85, 140, 3, 0.644);
    width: calc(100% - 75%);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    border-radius: 20px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
}

.form-inline button:hover {
    background-color: #DDF291;
    color: black;
    border: 0px solid rgba(85, 140, 3, 0.644);
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        height: auto;
        overflow: none;
    }
    .index-banner {
        height: 450px;
    }
    .index-banner h1 {
        display: block;
        width: 560px;
        margin: 0 auto;
        font-size: 30px;
        font-weight: 600;
        font-style: oblique;
    }
    .index-links .index-text {
        margin-bottom: 0px;
    }
    .index-links {
        overflow: inherit;
        height: auto;
    }
    .index-links .index-text div {
        margin-bottom: 0px;
    }
    .index-links div {
        background-color: none;
    }
    .index-text div {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .index-title .home {
        margin-top: 20px;
    }
    .index-title div {
        margin-top: 0px;
        margin-bottom: -20px;
    }
    .article-title div {
        margin-top: 30px;
        margin-bottom: -20px;
    }
    .index-title div h3 {
        font-size: 22px;
    }
    .index-links-article {
        overflow: inherit;
        height: auto;
        margin-bottom: -20px;
    }
    .single {
        margin-top: 30px;
        margin-bottom: -130px !important;
        padding-bottom: 50px;
    }
    .index-links-article div {
        margin: 0px 10px 0;
        background-color: none;
    }
    .index-links div h3 {
        line-height: 30px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .index-links-article div h3 {
        line-height: 30px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .index-boxlink-large {
        width: calc(100% - 100px) !important;
        height: auto;
    }
    .single-article {
        margin-bottom: 70px !important;
    }
    .index-boxlink-square {
        width: calc(25% - 60px) !important;
    }
    .index-boxlink-rectangle {
        width: calc(50% - 20px) !important;
    }
    .article-list {
        padding-top: 0px !important;
    }
    .article-list li {
        padding-top: 0px !important;
        margin-top: 5px !important;
    }
    .title-box {
        margin: 0 auto !important;
    }
    .article-text p {
        margin: 10px;
    }
    .form-inline input {
        width: calc(100% - 30%);
    }
    .form-inline button {
        width: calc(100% - 75%);
    }
    .index-banner .auth {
        display: none;
    }
}


/*SIGNIN*/

.index-banner-login {
    width: 100%;
    height: calc(60vh - 100px);
    background-image: url('../img/banner2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center-login {
    margin-top: 50px;
}

.login-form-container {
    width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: center;
}

.login-form-container h2 {
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #040F3D;
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}

input.username {
    margin: 0;
    text-align: center;
    border: 3px solid rgba(85, 140, 3, 0.644);
    width: 90%;
    position: relative;
    border-radius: 5px;
    font-family: Catamaran;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

input.password {
    margin: 20px 0;
    text-align: center;
    border: 3px solid rgba(85, 140, 3, 0.644);
    width: 90%;
    position: relative;
    border-radius: 5px;
    font-family: Catamaran;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.login-form .login-button {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 40%;
    border-radius: 10px;
    font-family: Catamaran;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    font-weight: 600;
    background: rgba(85, 140, 3, 0.644);
    color: #040F3D;
    text-transform: uppercase;
}

.login-form .login-button:hover {
    background: #E5F2D0;
    border: 0px solid rgba(85, 140, 3, 0.644);
    padding: 3px 23px;
}

@media only screen and (min-width: 1000px) {
    .login-form-container {
        width: 450px;
    }
    .login-form-container h2 {
        font-size: 25px;
        line-height: 60px;
    }
    .login-form {
        box-align: center;
    }
    input.username {
        font-size: 24px;
    }
    input.password {
        font-size: 24px;
    }
}


/*CREATE ACCOUNT*/

.index-banner-register {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('../img/banner2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center-register {
    margin-top: 80px;
    margin-bottom: 50px;
}

.register-form-container {
    width: 60%;
    margin: auto;
    background: none;
    display: block;
    justify-content: center;
}

.register-form-container h2 {
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #040F3D;
    margin-bottom: 10px;
}

.register-form {
    text-align: center;
}

input.register-fullname {
    margin: 0;
    text-align: center;
    outline: 0;
    border: 3px solid rgba(85, 140, 3, 0.644);
    width: 90%;
    position: relative;
    top: 5px;
    z-index: 2;
    border-radius: 5px;
    font-family: Catamaran;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

input.register-email {
    margin-top: 20px;
    text-align: center;
    outline: 0;
    border: 3px solid rgba(85, 140, 3, 0.644);
    width: 90%;
    position: relative;
    top: 5px;
    z-index: 2;
    border-radius: 5px;
    font-family: Catamaran;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

input.register-position {
    margin-top: 20px;
    text-align: center;
    outline: 0;
    border: 3px solid rgba(85, 140, 3, 0.644);
    width: 90%;
    position: relative;
    top: 5px;
    z-index: 2;
    border-radius: 5px;
    font-family: Catamaran;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

input.register-username {
    margin-top: 20px;
    text-align: center;
    outline: 0;
    border: 3px solid rgba(85, 140, 3, 0.644);
    width: 90%;
    position: relative;
    top: 5px;
    z-index: 2;
    border-radius: 5px;
    font-family: Catamaran;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

input.register-password {
    margin-top: 20px;
    text-align: center;
    outline: 0;
    border: 3px solid rgba(85, 140, 3, 0.644);
    width: 90%;
    position: relative;
    top: 5px;
    z-index: 2;
    border-radius: 5px;
    font-family: Catamaran;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.register-form .register-button {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    font-family: Catamaran;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    font-weight: 600;
    background: rgba(85, 140, 3, 0.644);
    color: #040F3D;
    text-transform: uppercase;
}

.register-form .register-button:hover {
    background: #E5F2D0;
    border: 0px;
    padding: 3px 23px;
}

@media only screen and (min-width: 1000px) {
    .register-form-container {
        width: 450px;
    }
    .register-form-container h2 {
        font-size: 25px;
        line-height: 60px;
    }
    .register-form {
        box-align: center;
    }
    input.register-fullname {
        font-size: 24px;
    }
    input.register-email {
        font-size: 24px;
    }
    input.register-position {
        font-size: 24px;
    }
    input.register-username {
        font-size: 24px;
    }
    input.register-password {
        font-size: 24px;
    }
}


/*FOOTER*/

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 0;
    background: #ABD904;
    background: -webkit-linear-gradient(top, rgb(129, 163, 4) 0%, rgba(85, 140, 3, 0.644) 100%);
    background: linear-gradient(to bottom, rgb(129, 163, 4) 0%, rgba(85, 140, 3, 0.644) 100%);
    overflow: hidden;
}


/*FOOTER FOR LOGIN AND REGISTER*/

.signin {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 0;
    background: #ABD904;
    background: -webkit-linear-gradient(top, rgb(129, 163, 4) 0%, rgba(85, 140, 3, 0.644) 100%);
    background: linear-gradient(to bottom, rgb(129, 163, 4) 0%, rgba(85, 140, 3, 0.644) 100%);
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: Catamaran;
    font-size: 24px;
    color: #040F3D;
    line-height: 40px;
}

.footer-links-cases {
    display: none;
}

.footer-sm {
    width: 50px;
    float: right;
}

.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
    .footer-links-cases {
        display: block;
    }
    footer ul {
        padding-right: 30px;
    }
    footer ul li p {
        font-family: Catamaran;
        font-size: 24px;
        color: #040F3D;
        line-height: 40px;
        text-transform: uppercase;
    }
}


/* THE MODEL ONE*/


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content One*/

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    height: auto;
    border-radius: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    margin: 0px;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 16px 16px;
    background-color: #f44336;
    border-radius: 20px 20px 0px 0px;
    font-family: Catamaran;
    font-size: 16px;
    color: white;
    line-height: 16px;
}

.modal-body {
    padding: 16px 16px;
    font-family: Catamaran;
    font-size: 22px;
    height: auto;
    overflow: auto;
}

.modal-footer {
    padding: 10px 16px;
    font-family: Catamaran;
    font-size: 16px;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    color: white;
    overflow: auto;
}

.modal-footer button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 2px 10px 2px 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Catamaran;
    font-weight: 500;
    font-size: 16px;
    margin: 4px 2px;
    float: right;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.modal-footer .cancel {
    border: 2px solid rgb(0, 0, 0);
}

.modal-footer .delete {
    border: 2px solid #f44336;
    color: #f44336;
}


/* THE MODEL TWO*/


/* The Modal (background) */

.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content One*/

.modal2-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    height: auto;
    border-radius: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.editClose {
    margin: 0px;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.editClose:hover,
.editClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal2-header {
    padding: 16px 16px;
    background-color: #008CBA;
    border-radius: 20px 20px 0px 0px;
    font-family: Catamaran;
    font-size: 16px;
    color: white;
    line-height: 16px;
}

.modal2-body {
    padding: 0;
    font-family: Catamaran;
    font-size: 22px;
    display: block;
    align-content: center;
    height: auto;
    overflow: auto;
}

.modal2-body textarea {
    margin: 10px 10px;
    padding: 10px;
    outline: 0;
    border: 3px solid rgba(85, 140, 3, 0.644);
    width: 85%;
    resize: vertical;
    border-radius: 20px;
    font-family: Catamaran;
    height: 60px;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.modal2-footer {
    padding: 10px 16px;
    font-family: Catamaran;
    font-size: 16px;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    color: white;
    overflow: auto;
}

.modal2-footer button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 2px 10px 2px 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Catamaran;
    font-weight: 500;
    font-size: 16px;
    margin: 4px 2px;
    float: right;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.modal2-footer .editCancel {
    border: 2px solid rgb(0, 0, 0);
}

.modal2-footer .save {
    border: 2px solid #008CBA;
    color: #008CBA;
}

@media only screen and (min-width: 1000px) {
    .modal2-body textarea {
        width: 95%;
    }
}

.article-link {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 1049px) {
    header .header-cases {
        display: none !important;
    }
}